<!DOCTYPE html>
<html>
    <head>
        <title>minecraft server control APIs</title>
    </head>
    <body>
        <div><a href="http://host:8011/api/mc-getstatus">http://host:8011/api/mc-getstatus</a> 获取服务状态</div>
        <div><a href="http://host:8011/api/mc-getlog">http://host:8011/api/mc-getlog</a> 获取服务日志</div>
        <div><a href="http://host:8011/api/mc-startserver">http://host:8011/api/mc-startserver</a> 启动mc服务</div>
        <div><a href="http://host:8011/api/mc-stopserver">http://host:8011/api/mc-stopserver</a> 停止mc服务</div>
        <div><a href="http://host:8011/api/mc-restartserver">http://host:8011/api/mc-restartserver</a> 重启mc服务</div>
        <div><a href="http://host:8011/api/mc-getconfig">http://host:8011/api/mc-getconfig</a> 获取配置文件</div>
        <div><a href="http://host:8011/api/mc-updateconfig?xxx=xxx">http://host:8011/api/mc-updateconfig?xxx=xxx</a> 更新配置文件</div>
        <div><a href="http://host:8011/api/mc-resetconfig">http://host:8011/api/mc-resetconfig</a> 重置配置文件</div>
    </body>
</html>